.navLink {
  font-family: "inter";
  font-size: 14;
}

.smallNavLink {
  /* color: "rgba(79, 79, 79, 1)";
  font-family: "SegoeUI_Normal";
  font-size: 20; */
}
.modal {
  max-width: 250px;

  background-image: linear-gradient(to right, #cabaee, #eec6a8);
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(4, 54, 45, 0.2), 0px 1px 1px rgba(4, 54, 45, 0.2);
}
