.hero {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.companys {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 96px 119px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

@media screen and (min-width: 324px) and (max-width: 999px) {
  .hero {
    min-width: 343px;
    height: 376px;
    gap: 0px;
    border-radius: 24px;
  }

  .companys {
    margin-top: calc(85vw + 40px);
    margin-left: 16px;
    margin-right: 16px;
    padding: 36px 24px;
  }

  .people {
    min-width: 321px;
  }

  .person {
    min-width: 324px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .people {
    width: 767;
    max-width: 667px;
  }

  .person {
    width: 417;
    max-width: 380px;
    /* padding-top: 10px; */
  }

  .imgFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
